* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    font-family: "Figtree", sans-serif;
    line-height: 150%;
    letter-spacing: 0%;
}

.card {
    display: flex;
    flex-direction: column;
    width: 279px;
    gap: 24px;
    padding: 24px;
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: #000000 8px 8px;
}

.card__image {
    border-radius: 10px;
    width: 100%;
}

.card__contener {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__button {
    font-size: 12px;
    font-weight: 800;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: hsl(0, 0%, 7%);
    background-color: hsl(47, 88%, 63%);
}

.card__date {
    font-size: 12px;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.card__headline {
    font-size: 19px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.card__headline:hover {
    color: hsl(47, 88%, 63%);
    cursor: pointer;
}

.card__text {
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.avatar__image {
    width: 32px;
}

.avatar__text {
    font-size: 14px;
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

@media (431px >= width >= 375px) {
    .card {
        width: 327px;
    }

    .card__headline {
        font-size: 20px;
    }
}

@media (width >= 432px) {
    .card {
        width: 384px;
    }

    .card__button {
        font-size: 14px;
    }

    .card__date {
        font-size: 14px;
    }

    .card__headline {
        font-size: 24px;
    }

    .card__text {
        font-size: 16px;
    }
}
